.col .card .card-header 
{
    background-color:#0d6efd;

}
#col1 #card1 #card-header1 
{
    /* background-color:rgba(236, 122, 73, 0.947); */
}
.col .card{
    border-color:rgba(59, 78, 247, 0.947);
}
.col .card .card-header h4 {
    color: white;
}
.list-unstyled li{
    color: white;

} 
.card-header
{
    background-color: aquamarine;
}
.col .card{
    background-image: url(../img/tahmid-tazwar-GU-0RMBn078-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: visible;
    width: 100%;
    background-size: cover;
}
#weather_img{
height: 350px;
width: 900px;
}
#Temprature{
    color: rgb(21, 109, 240);
  
}
.text-4xl{
    text-align: center;
}
#submit{
   border: 1px  white;
   background-color: rgb(21, 109, 240);
   margin-left: 5px;
   border-radius: 5px;
   font-weight:300;
   padding:5px;
}
#userIcon{
    color: white;
}
#multiLevelDropdownButton{

}
#wishlist
{
color: rgb(21,109,240);
margin-right: 54px;
cursor: pointer;
}
#box_2 p{
    font-size: 17px;
}
#box_2 p{
padding: 5px;    
}